<div class="row">
    <div class="search-box bg-white py-3 col-md-3">
        <div class="mb-3 h4">検索条件</div>
        <form method="POST" action="/boards/find">
            <div class="form-group">
                <label for="date" style="margin-right: 5px;">日付：</label>
                <input type="date" name="date" id="date" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="class" style="margin-right: 5px;">分類：</label>
                <select name="class" id="class" class="form-control">
                    <option value="">-</option>
                    <option value="">仕事</option>
                    <option value="">プライベート</option>
                </select>
            </div>
            <div class="form-group">
                <label for="priority" style="margin-right: 5px;">優先度：</label>
                <select name="priority" id="priority" class="form-control">
                    <option value="">-</option>
                    <option value="">高</option>
                    <option value="">低</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state" style="margin-right: 5px;">状況：</label>
                <select name="state" id="priority" class="form-control">
                    <option value="">-</option>
                    <option value="">完了</option>
                    <option value="">未完了</option>
                </select>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="narrow-due" name="narrow-target" value="due">
                    <label class="custom-control-label" for="narrow-due">締切時間</label>
                </div>
            </div>
            
            <input type="submit" value="検索" class="btn btn-primary">                                            
        </form>
    </div>
    <div class="col-md-9">
        <div class="card-body pb-0">
            <div class="fc p-relative">
                <div class="fc-toolbar fc-header-toolbar">
                    <div class="p-absolute p-l-corner">
                        <div class="fc-button-group">
                             <ul class="pagination justify-content-center">
                                 <li class="page-item">
                                     <a href="" class="page-link">&lt;&lt; prev</a>
                                 </li>
                                 <li class="page-item">
                                     <a href="" class="page-link">next &gt;&gt;</a>
                                 </li>
                             </ul>           
                        </div>
                        <div>
                            <input type="hidden" name="" value="">
                            <input type="submit" value="今日" class="btn btn-primary">    
                        </div>
                    </div>
                    <div class="d-inline-block">
                        <h2>MAY 2021</h2>
                    </div>
                </div>
            </div>
         </div>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:40%;">タイトル</th>
                        <th style="width:15%">締切</th>
                        <th style="width:10%">優先度</th>
                        <th style="width: 10%;">状況</th>
                        <th>アクション</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ランニング2km</td>
                        <td>-</td>
                        <td>中</td>
                        <td>未完了</td>
                        <td class="table-action">
                            <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                            <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>
